/* .home-wrapper-2 {
  background-color: var(--color-f5f5f7);
  border-radius: 1.5rem;
}
.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.Home-title h1 {
  text-transform: uppercase;
  font-size: 28px;
  padding: 50px 5px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.about-title h1 {
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
  padding: 50px 50px;
}
.about-section {
  min-height: 75vh;
}
.about-container {
  display: block;
  margin: auto;
}
.about-content-section {
  float: left;
}
.about-image {
  float: right;
}
.about-image img {
  width: 100%;
  height: auto;
}
.about-content-section .about-title {
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
}
.about-content-section .about-content h3 {
  color: #5d5d5d;
  font-size: 21px;
}
.about-section .about-content p {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
.about-section2 {
  min-height: 60vh;
}
.about-container2 {
  width: 80%;
  display: block;
  margin: auto;
}
.about-content-section2 {
  float: right;
}
.about-image2 {
  float: left;
}
.about-image2 img {
  width: 100%;
  height: auto;
}
.about-content-section2 .about-title {
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
}
.about-content-section2 .about-content2 h3 {
  color: #5d5d5d;
  font-size: 21px;
}
.about-section2 .about-content2 p {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .about-container {
    width: 80%;
    display: block;
    margin: auto;
  }
  .about-content-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .about-image {
    float: none;
    width: 100%;
  }
  .about-image img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .about-content-section .about-title {
    text-align: center;
    font-size: 19px;
  }
  .about-container2 {
    width: 80%;
    display: block;
    margin: auto;
  }
  .about-content-section2 {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .about-image2 {
    float: none;
    width: 100%;
  }
  .about-image2 img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .about-content-section2 .about-title2 {
    text-align: center;
    font-size: 19px;
  }
} */
